:root {
  --primary: #e6b594;
  --secondary: #2b7caa;
  --tertiary: #e7e7e7;
  --background: #161616;
}

@font-face {
  font-family: "mullish";
  src: url("Mulish-VariableFont_wght.ttf");
}

#app {
  font-family: mullish;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  background-color: var(--background);
}

a,
a:link,
a::after {
  text-decoration: none;
}

@keyframes blink {
  49% {
    background-color: rgb(0, 0, 0);
  }
  50% {
    background-color: transparent;
  }
  100% {
    background-color: transparent;
  }
}

.Header {
  display: flex;
  justify-content: center;
  color: var(--primary);
  font-size: 3em;
}

.is-typed span.cursor {
  display: inline-block;
  width: 0.25em;
  background-color: rgb(0, 0, 0);
  animation: blink 1s linear 0s 15 normal forwards;
}

#app {
  height: 100vh;
}
